<main>
    <div class="view__registry__header">
        <h1>{{ languageSource['EVENT_ORDER_VIEW_TITLE'] }}</h1>
        <button (click)="onCreationInit()">
            <mat-icon>add</mat-icon>
            <span>{{ languageSource['EVENT_ORDER_NEW_TITLE'] }}</span>
        </button>
    </div>
    <div class="view__registry__content">
        <div class="view__registry__content__editor" [attr.data-is-visible]="isEditorOpen">
            <div *ngIf="isEditorOpen && editorType === 'creation'" [@fade]>
                <h3>{{ languageSource['REGISTRY_EDITOR_CREATION_TITLE'] }}</h3>
                <form [formGroup]="creationFormGroup">
                    <app-auto-complete
                        [label]="languageSource['REGISTRY_EVENT_ORDER_EVENT_INPUT']"
                        [data]="availableEvents"
                        [formGroup]="creationFormGroup"
                        [controlName]="'event'"
                        [optionGetter]="displayEventAutocomplete"
                        (onSelection)="onEventSelection($event)"
                    >
                    </app-auto-complete>
                    <app-auto-complete
                        [label]="languageSource['REGISTRY_EVENT_ORDER_STATUS_INPUT']"
                        [data]="availableOrderStatus"
                        [formGroup]="creationFormGroup"
                        [controlName]="'status'"
                        (onSelection)="onStatusSelection($event)"
                    >
                    </app-auto-complete>
                    <app-auto-complete
                        [label]="languageSource['REGISTRY_EVENT_ORDER_OPERATOR_INPUT']"
                        [data]="availableOperators"
                        [formGroup]="creationFormGroup"
                        [controlName]="'operator'"
                        [optionGetter]="displayOperatorAutocomplete"
                        (onSelection)="onOperatorSelection($event)"
                    >
                    </app-auto-complete>
                    <mat-form-field appearance="outline">
                        <mat-label>{{
                            languageSource['REGISTRY_EVENT_ORDER_CLIENT_INPUT']
                        }}</mat-label>
                        <input matInput formControlName="client" required />
                    </mat-form-field>
                    <div class="--items">
                        <app-auto-complete
                            [label]="languageSource['REGISTRY_EVENT_ORDER_ITEMS_INPUT']"
                            [data]="availableProducts"
                            [formGroup]="creationFormGroup"
                            [controlName]="'items'"
                            [optionGetter]="displayProductAutocomplete"
                            (onSelection)="onProductSelection($event)"
                        >
                        </app-auto-complete>
                        <div class="--ingredients">
                            <app-ingredient-selector
                                [ingredients]="selectedProduct?.ingredients ?? []"
                                (onOptionalSelection)="onOptionalSelection($event)"
                                (onAdditionalSelection)="onAdditionalSelection($event)"
                            >
                            </app-ingredient-selector>
                        </div>
                        <div class="--items__selector">
                            <button
                                (click)="onProductCountDecrement()"
                                [disabled]="productCount <= MIN_PRODUCT_COUNT"
                            >
                                <mat-icon>remove</mat-icon>
                            </button>
                            <input
                                matInput
                                [value]="productCount"
                                [min]="MIN_PRODUCT_COUNT"
                                [max]="MAX_PRODUCT_COUNT"
                                type="number"
                                (keyup)="onManualProductCount($event.target)"
                            />
                            <button
                                (click)="onProductCountIncrement()"
                                [disabled]="productCount >= MAX_PRODUCT_COUNT"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <button
                            class="--check"
                            (click)="onProductConfirmation()"
                            [disabled]="!selectedProduct"
                        >
                            <mat-icon>check</mat-icon>
                        </button>
                    </div>
                </form>
                <ul class="item__listing">
                    <li *ngFor="let selectedItem of selectedItems; index as i">
                        <div>
                            <span>{{ selectedItem.data.product.name }}</span>
                        </div>
                        <button class="--delete" (click)="onItemDeletion(selectedItem.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <div *ngIf="isEditorOpen && editorType === 'edition'" [@fade]>
                <h3>{{ languageSource['REGISTRY_EDITOR_EDITION_TITLE'] }}</h3>
                <form [formGroup]="editionFormGroup">
                    <app-auto-complete
                        [label]="languageSource['REGISTRY_EVENT_ORDER_STATUS_INPUT']"
                        [data]="availableOrderStatus"
                        [formGroup]="editionFormGroup"
                        [controlName]="'status'"
                        (onSelection)="onStatusSelection($event)"
                    >
                    </app-auto-complete>
                </form>
            </div>
            <ul>
                <li class="--confirm">
                    <button
                        (click)="editorType === 'creation' ? onCreation() : onEdition()"
                        [disabled]="
                            editorType === 'creation' ? isCreationInvalid() : isEditionInvalid()
                        "
                    >
                        {{
                            editorType === 'creation'
                                ? languageSource['REGISTRY_EDITOR_CREATION_ACTION']
                                : languageSource['REGISTRY_EDITOR_EDITION_ACTION']
                        }}
                    </button>
                </li>
                <li class="--cancel">
                    <button (click)="onCancel()">
                        {{ languageSource['REGISTRY_EDITOR_CANCEL_ACTION'] }}
                    </button>
                </li>
            </ul>
        </div>
        <app-table
            [data]="dataList"
            [onEdit]="onEditionInit.bind(this)"
            [onDelete]="onDeleteInit.bind(this)"
        >
        </app-table>
    </div>
</main>
