$background: #ffffff;
$foreground: #233142;
$foreground-bright: #34465C;
$foreground-brighter: #ACC5E3;
$foreground-disabled: #657385;
$accent-dark: #ffffff99;
$accent-bright: #ffffff;
$yellow-dark: #C79D39;

$avatar-min-size: 2rem;
$avatar-max-size: 20rem;