$background: #ffffff;
$foreground: #233142;
$foreground-bright: #34465c;
$foreground-brighter: #acc5e3;
$foreground-disabled: #657385;
$accent-dark: #ffffff99;
$accent-bright: #ffffff;
$yellow-dark: #c79d39;
$red-dark: #f44336;
$red-light: #e9564b;

$avatar-min-size: 2rem;
$avatar-max-size: 20rem;
