.ingredient {
    &__creator {
        display: flex;
        flex-direction: column;
        gap: 1vh 0;
        width: 100%;

        &-input {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0 2vh;

            .--name {
                flex-grow: 2;
                height: 8vh;
            }

            .--type {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                label {
                    font-family: 'Nunito';
                }
            }
        }

        &-submit {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 5vh;
            flex-grow: 1;
            width: 100%;
            padding: 0 1vh;
            background-color: transparent;
            border: solid 1px $foreground-bright;
            border-radius: 5px;

            -webkit-transition:
                color ease-in-out 0.1s,
                background-color ease-in-out 0.1s;
            -moz-transition:
                color ease-in-out 0.1s,
                background-color ease-in-out 0.1s;
            -ms-transition:
                color ease-in-out 0.1s,
                background-color ease-in-out 0.1s;
            -o-transition:
                color ease-in-out 0.1s,
                background-color ease-in-out 0.1s;
            transition:
                color ease-in-out 0.1s,
                background-color ease-in-out 0.1s;

            &:hover {
                cursor: pointer;
                color: $accent-bright;
                background-color: $foreground;
            }
        }

        &-listing {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
            gap: 2vh;
            border: solid 1px $foreground-bright;
            border-radius: 14px;
            height: 25vh;
            width: 80%;
            padding: 2vh;
            overflow: hidden;
            overflow-y: auto;
            margin: 2vh auto;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1vh;
                height: 10vh;
                padding-left: 1vh;
                background-color: rgba(173, 167, 167, 0.2);
                border-radius: 14px;
                overflow: hidden;

                .--data {
                    display: flex;
                    flex-direction: column;
                    padding: 1vh;
                    gap: 1vh 0;

                    span {
                        font-family: 'Nunito';
                        font-size: 0.8rem;
                    }
                }

                .--actions {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                    height: 100%;

                    button {
                        display: flex;
                        align-items: center;
                        justify-self: center;
                        height: 100%;
                        background-color: $foreground-bright;
                        padding: 1vh 1.5vh;
                        color: $accent-bright;
                    }

                    .--delete {
                        background-color: $red-dark;
                    }
                }
            }
        }
    }
}
