<form [formGroup]="formGroup">
	<mat-form-field appearance="outline">
		<mat-label>{{ label }}</mat-label>
		<input
			matInput
			[matAutocomplete]="autoComplete"
			[formControlName]="controlName"
		>
		<mat-autocomplete
			#autoComplete="matAutocomplete"
			[displayWith]="canChooseMultiple ? execMultipleOptionGetter.bind(this) : execOptionGetter.bind(this)"
		>
			<mat-option
				*ngFor="let value of filteredData | async"
				[value]="value"
				(click)="canChooseMultiple ? onCheckboxClick(value) : undefined"
			>
				<mat-checkbox
					*ngIf="canChooseMultiple"
					[checked]="isCheckboxSelected(value)"
					(click)="onCheckboxClick(value); $event.stopPropagation()"
				>
				</mat-checkbox>
				<span>{{ execOptionGetter(value) }}</span>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
</form>